body {
  margin: 40px;
  font-family: arial;
  font-size: 15px;
}
ul#top {
  float: left;
  width: 250px;
}
ul {
  list-style:none;
  margin:0;
  padding:0;
}

li {
  color: #666;
  margin-left: 10px;
  border-left: 1px solid gold;
}

li > span { padding: 10px 10px 10px 10px; display: block; background: ghostwhite}


li.dragging span {
  background: gainsboro;
}

pre {
  background: mistyrose;
  font-size: 10px;
  line-height: 0.9;
  width: 400px;
  float: left;
  margin:0 0 0 10px;
}
