body {
  margin: 40px;
  width: 620px;
  font-family: arial;
  font-size: 15px;
}
ul {
  list-style: none;
  margin:0;
  padding:0;
  float:left;
  width:200px;
  background:#ddd;
}
li {
  padding: 10px;
  color: #666;
  line-height: 17px;
}
li.dragging {
  background: #eee;
}
#app > ul {
  float: left;
}
#grid div {
  height: 111px;
  width: 130px;
  float: left;
  color: #fff;
  position: relative;
}
#grid div span {
  font-size: 10px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
#grid div.dragging {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  z-index: 1;
}


pre { clear:both; display: block; padding: 20px 0;}
