body {
  margin: 40px;
  font-family: arial;
  font-size: 15px;
}
ul#top {
  float: left;
}
ul {
  list-style: none;
  margin:0;
  padding:0;
  background:#ddd;
  overflow: hidden;
}
li {
  width: 120px;
  padding: 10px;
  color: #666;
}
li li { background: #ccc; }
li li li { background: #bbb; }
li li li li { background: #aaa; }

li.dragging {
  background: yellow;
}

pre {
  background: #ccc;
  font-size: 10px;
  line-height: 0.9;
  width: 400px;
  float: left;
  margin:0 0 0 10px;
}
